<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BestExchange | Change Divisa</title>
	<meta name="description" content="Find the best place to exchange your foreing money">
	<meta name="author" content="Cristian Ruiz (cruizg93)">
	<meta name="keywords" content="dollar exchange, cambiar dolar, euro exchange, cambiar euro, lugar para cambiar dolar, cambio de divisas" />
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/medellin.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/spin.min.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/city.css')}}">

</head>
<body>
	
	<section class="container">
		<header>
			<nav>
				<ul class="menu">
					<li><a href="/">HOME</a></li>
					<li><a href="#About">ABOUT</a></li>
					<li><a href="#List">BIG LIST</a></li>
				</ul>
				<ul class="socialNetworks">
					<li><a href="#"><img src="../static/images/facebook-icon.png"></a></li>
					<li><a href="#"><img src="../static/images/google-icon.png"></a></li>
					<li><a href="#"><img src="../static/images/twitter-icon.png"></a></li>
				</ul>
			</nav>
		</header>
		<article>
			<div class="spiner" id="spiner"></div>
			<div class="" id="bodycore">
				
			</div>		
		</article>

	</section>
</body>
</html>